@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Poppins:ital,wght@0,300;0,400;0,500;1,200;1,300&family=Roboto+Condensed:wght@300&family=Roboto:wght@400;700&family=Teko&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.podcast_detail{
    background-color: #09121c;
    height: 812px;
    width: 376px;
    margin-top: 3%;
    margin-left: 40%;
    position:absolute;
    box-shadow: 5px 5px 15px black;
}
.podcast_image{
position: absolute;
width: 375px;
height: 374px;
left: 0px;
top: 0px;
background: url(/public/asset/BG\ 2.png);
border-radius: 0px;
}
.back-icon{
position: absolute;
left: 8.53%;
right: 86.56%;
top:64px;
bottom: 92.7%;
background: transparent;
color: white;
font-size: 34px;
cursor: pointer;
}
.podcast_menu{
position: absolute;
margin-top: 66px;
margin-left: 321px;
background: transparent;
color: white;
font-size: 26px;
cursor: pointer;
}
.podcast_title{
position: absolute;
width: 236px;
height: 60px;
left: 80px;
top: 130px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 125%;
text-align: center;
color: #FFFFFF;
}
.podcast_desc{
position: absolute;
width: 167px;
height: 24px;
left: 110px;
top: 202px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 170%;
text-align: center;
color: #898F97;
}
.author1{
position: absolute;
width: 126px;
height: 161px;
left: 0px;
top: 186px;
background-image: url(/public/asset/Author\ 1.png);
background-repeat: no-repeat;
}
.author2{
position: absolute;
width: 98px;
height: 161px;
left: 281px;
top: 186px;
background: url(/public/asset/Author\ 2.png);
}
.rotateleft-icon{
position: absolute;
background: transparent;
color: white;
font-size: 22px;
top: 270px;
left: 110px;
cursor: pointer;
}
.rotateright-icon{
position: absolute;
background: transparent;
color: white;
font-size: 22px;
top: 270px;
left: 240px;
cursor: pointer;
}
.stop-button{
background-image: url(/public/asset/Ellipse.png);
position: absolute;
width: 51px;
height: 51px;
background-color: transparent;
top:253px;
left: 162px;
box-shadow: 2px 2px 15px red;
border-radius: 50%;
}
.pause-icon{
    position: absolute;
    top:13px;
    left: 13px;
    font-size: 24px;
    font-weight: 600;
    color: white;
    cursor: pointer;
}
.podcastplay-detail{
position: absolute;
width: 375px;
height: 460px;
left: 0px;
top: 347px;
background: #09121C;
border-radius: 24px 24px 0px 0px;
}
.blue_line{
position: absolute;
width: 155px;
height: 0px;
left: 33px;
top: 30px;
border: 1px solid #3369FF;
}
.white_line{
position: absolute;
width: 154px;
height: 0px;
left: 188px;
top: 30px;
border: 1px solid #FFFFFF
}
.line_circle{
    position: absolute;
    border: 3px solid #3369FF;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    top: 24px;
    left: 183px;
    background-color: white;
    cursor: pointer;
}
.like_icon{
position: absolute;
left: 9.09%;
right: -8.38%;
top: 15%;
bottom: 25.81%;
background: transparent;
color: green;
transform: matrix(-1, 0, 0, 1, 0, 0);
font-size: 18px;
cursor: pointer;
}
.unlike_icon{
position: absolute;
left: 84.87%;
top: 15%;
bottom: -32.26%;
color: grey;
transform: matrix(-1, 0, 0, 1, 0, 0);
font-size: 18px;
cursor: pointer;
}
.unlike_text{
position: absolute;
width: 37px;
height: 20px;
left: 265px;
top: 70px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 170%;
text-align: right;
color: #898F97;
}
.like_text{
position: absolute;
width: 37px;
height: 20px;
left: 73px;
top: 70px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 170%;
color: #FFFFFF;
}
.podcast_time{
position: absolute;
width: 56px;
height: 24px;
left: 159px;
top: 67px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 170%;
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
}
.separator{
position: absolute;
width: 309px;
height: 0px;
left: 33px;
top: 110px;
opacity: 0.15;
border: 1px solid #898F97;
}
.sound_icon{
    position: absolute;
    left: 9%;
    right: 82.67%;
    top: 32%;
    bottom: 78.89%;
    background:transparent;
    color: white;
    font-size: 16px;
}
.sound_text{
position: absolute;
width: 53px;
height: 18px;
left: 65px;
top: 146px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 150%;
display: flex;
align-items: center;
color: #FFFFFF;
}
.download_icon{
position: absolute;
font-size: 18px;
left: 160px;
top: 31.5%;
background-color: transparent;
color: white;
}
.download_text{
position: absolute;
width: 31px;
height: 18px;
left: 190px;
top: 146px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 150%;
display: flex;
align-items: center;
color: #FFFFFF;
}
.vertical_icon{
    position: absolute;
    color: white;
    background-color: transparent;
    top: 32%;
    left: 340px;
    font-size: 17px;
    cursor: pointer;
}
.podcast_statement{
position: absolute;
width: 309px;
height: 88px;
left: 33px;
top: 207px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 170%;
color: #898F97;
}